@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Serif KR', serif;
}

.heart {
	color: #F35454;
	font-size: 16px;
}
    	
.wrapper {
	text-align: center;
	margin: 0 auto;
	line-height: 100px;
}

.test {
	margin-top: 3px; /* h3 margin-bottom과 동일한 값 유지할 것 */
}

.wrapper img {
	width: 180px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -43%);
}

.row {
	/* margin-top: 100px; */
	margin-bottom: 100px;
}

.contents {
	overflow: hidden;
	height: 77px;
	margin-bottom: 10px;
}

.icon {
	color: #000000;
}

.heart-and-comment {
	height: 25px;
}

.heart-comment-time-area {
	display: inline-block;
	margin-right: 10px;
}

a:visited, a:link {
	color: #000000;
}

.whoseStory {
	font-size: 12px;
}

.hr {
	margin-bottom: 84px;
}