@charset "UTF-8";


a:visited, a:link {
	color: #000000;
}

.fixed-top {
	/* position: relative; */
	position: fixed;
}

.sidenav {
	position: fixed;
	width: 260px;
	top: 0;
	left: -260px;
	height: 100%;
	z-index: 9999;
	background-color: rgba(255, 255, 255); /* rgba 마지막 값: 투명도 */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 1px; /* Place content 60px from the top */
	transition: all 0.5s;
	border: 1px solid #EDEDED;
}

.side_show {
	left: 0!important;
}
		
.toggle-btn {
	position: relative;
	right: -15px;
	font-size: 30px;
}

#header-title {
	position: relative;
	right: -50px;
	font-size: 15px;
}

.user-pic {
	color: #B4B4B4;
	font-size: 100px;
}
		
.user-pic-wrapper {
	text-align: center;
	position: relative;
	top: 100px;
}
		
.nickname {
	/* text-align: center; */
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 50px;
}

#item01 {
	position: absolute;
	right: 150px;
	top: 19.9px; /* 불투명이면 8.9, 투명이면 19.9 */
}

#item02 {
	position: relative;
	right: 25px;
}

.menuList {
	position: absolute;	
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 200px;
}

.sideMenu-close-icon {
	font-size: 24px;
	color: #E0E0E0;
	position: relative;
	left: 230px;
	top: 8px;
	
}

#sideMenu {
	margin: 0 auto;
}

